spring:
  application:
    name: data-analysis-service
  
  profiles:
    active: dev

server:
  port: 8088

# 日志配置
logging:
  level:
    root: INFO
    com.liveroom.analysis: DEBUG
    common: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
